.DS_Store
# compiler related files
compile_commands.json
neoFORM.qbs
obj/
.cache
#compiler outputs
bin/emptyExampleDebug.app
bin/neoFormDebug.app
bin/libfmod.so
bin/neoFORM*
# hardware specific config files
bin/data/settings.xml
bin/data/layoutSettings.xml
